<a href="https://colab.research.google.com/github/chin0104/DPDM2023/blob/main/data101_CH2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd

In [ ]:
df = pd.read_csv('/content/Data.csv')

In [ ]:
df

   Car_ID         Model   Year   Value   Pers_ID
0     101       Bentley   1973  100000         0
1     102   Rolls Royce   1965  330000         0
2     103       Peugeot   1993     500         3

## Data structure

### list

In [ ]:
la = [1,2,3,0.9,'aaz', df]

In [ ]:
la[0]

1

In [ ]:
la[5]

   Car_ID         Model   Year   Value   Pers_ID
0     101       Bentley   1973  100000         0
1     102   Rolls Royce   1965  330000         0
2     103       Peugeot   1993     500         3

In [ ]:
lb = ['pizza', la]

In [ ]:
lb

['pizza',
 [1,
  2,
  3,
  0.9,
  'aaz',
     Car_ID         Model   Year   Value   Pers_ID
  0     101       Bentley   1973  100000         0
  1     102   Rolls Royce   1965  330000         0
  2     103       Peugeot   1993     500         3]]

In [ ]:
lb[1][5]

   Car_ID         Model   Year   Value   Pers_ID
0     101       Bentley   1973  100000         0
1     102   Rolls Royce   1965  330000         0
2     103       Peugeot   1993     500         3

###String is a list of characters

In [ ]:
x = 'shabu'

In [ ]:
x[-2]

'b'

In [ ]:
print(la)
print(lb)

[1, 2, 3, 0.9, 'aaz',    Car_ID         Model   Year   Value   Pers_ID
0     101       Bentley   1973  100000         0
1     102   Rolls Royce   1965  330000         0
2     103       Peugeot   1993     500         3]
['pizza', [1, 2, 3, 0.9, 'aaz',    Car_ID         Model   Year   Value   Pers_ID
0     101       Bentley   1973  100000         0
1     102   Rolls Royce   1965  330000         0
2     103       Peugeot   1993     500         3]]

In [ ]:
laa = []

In [ ]:
laa

[]

In [ ]:
lbb = list()

In [ ]:
lbb

[]

In [ ]:
laa.append('chiken')
laa.append('water')
laa.append('vegetable')
laa.append('rice')
laa.append('plate')
laa.append('spoon')
laa.append('fork')
laa.append('knife')
laa.append('apple')

In [ ]:
laa

['chiken', 'water', 'vegetable', 'rice']

###list slicing

In [ ]:
laa[2:7:1]

['vegetable', 'rice', 'plate', 'spoon', 'fork']

In [ ]:
laa[2:7]

['vegetable', 'rice', 'plate', 'spoon', 'fork']

In [ ]:
laa[2:]

['vegetable', 'rice', 'plate', 'spoon', 'fork', 'knife', 'apple']

In [ ]:
laa[:5]

['chiken', 'water', 'vegetable', 'rice', 'plate']

In [ ]:
laa[:5:]

['chiken', 'water', 'vegetable', 'rice', 'plate']

In [ ]:
laa[::-1]

['apple',
 'knife',
 'fork',
 'spoon',
 'plate',
 'rice',
 'vegetable',
 'water',
 'chiken']

In [ ]:
laa

['chiken',
 'water',
 'vegetable',
 'rice',
 'plate',
 'spoon',
 'fork',
 'knife',
 'apple']

In [ ]:
laa[0][2:]

'iken'

In [ ]:
laa[2][2:5]

'get'

In [ ]:
for i in laa:
  print(i)

chiken
water
vegetable
rice
plate
spoon
fork
knife
apple

In [ ]:
for i in [1,2,3]:
  print(i,end='')
  print('xx')

1xx
2xx
3xx

In [ ]:
for i in laa:
  print(f'now i is {i}')
  print(f'I like to eat {i} ')

now i is chiken
I like to eat chiken
now i is water
I like to eat water
now i is vegetable
I like to eat vegetable
now i is rice
I like to eat rice
now i is plate
I like to eat plate
now i is spoon
I like to eat spoon
now i is fork
I like to eat fork
now i is knife
I like to eat knife
now i is apple
I like to eat apple

In [ ]:
list(range(10,20,2))

[10, 12, 14, 16, 18]

In [ ]:
for i in range(100):
  print(f'H{i}',end='')

H0H1H2H3H4H5H6H7H8H9H10H11H12H13H14H15H16H17H18H19H20H21H22H23H24H25H26H27H28H29H30H31H32H33H34H35H36H37H38H39H40H41H42H43H44H45H46H47H48H49H50H51H52H53H54H55H56H57H58H59H60H61H62H63H64H65H66H67H68H69H70H71H72H73H74H75H76H77H78H79H80H81H82H83H84H85H86H87H88H89H90H91H92H93H94H95H96H97H98H99

###Loop

In [2]:
for i in range(3):
  print(f'i = {i}')
  for j in range(2):
    print(f'i = {i}, i = {j}, I+j ={i+j}')

i = 0
i = 0, i = 0, I+j =0
i = 0, i = 1, I+j =1
i = 1
i = 1, i = 0, I+j =1
i = 1, i = 1, I+j =2
i = 2
i = 2, i = 0, I+j =2
i = 2, i = 1, I+j =3

#Example

In [4]:
la = []
for i in range(10):
  AA = []
  for j in range (i+1):
    A = 1
    AA.append(A)
  la.append(AA)

In [5]:
la

[[1],
 [1, 1],
 [1, 1, 1],
 [1, 1, 1, 1],
 [1, 1, 1, 1, 1],
 [1, 1, 1, 1, 1, 1],
 [1, 1, 1, 1, 1, 1, 1],
 [1, 1, 1, 1, 1, 1, 1, 1],
 [1, 1, 1, 1, 1, 1, 1, 1, 1],
 [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]]

In [7]:
l_an = []
print(f'l_an = {l_an}')
for i in range(1,11):
  temp =[]
  for j in range(i):
    temp.append(1)
  print(f'i = {i} j = {j} : temp = {temp}')
  l_an.append(temp)
  print(f'l_an = {l_an}                                                        ')

l_an = []
i = 1 j = 0 : temp = [1]
l_an = [[1]]
i = 2 j = 1 : temp = [1, 1]
l_an = [[1], [1, 1]]
i = 3 j = 2 : temp = [1, 1, 1]
l_an = [[1], [1, 1], [1, 1, 1]]
i = 4 j = 3 : temp = [1, 1, 1, 1]
l_an = [[1], [1, 1], [1, 1, 1], [1, 1, 1, 1]]
i = 5 j = 4 : temp = [1, 1, 1, 1, 1]
l_an = [[1], [1, 1], [1, 1, 1], [1, 1, 1, 1], [1, 1, 1, 1, 1]]
i = 6 j = 5 : temp = [1, 1, 1, 1, 1, 1]
l_an = [[1], [1, 1], [1, 1, 1], [1, 1, 1, 1], [1, 1, 1, 1, 1], [1, 1, 1, 1, 1, 1]]
i = 7 j = 6 : temp = [1, 1, 1, 1, 1, 1, 1]
l_an = [[1], [1, 1], [1, 1, 1], [1, 1, 1, 1], [1, 1, 1, 1, 1], [1, 1, 1, 1, 1, 1], [1, 1, 1, 1, 1, 1, 1]]
i = 8 j = 7 : temp = [1, 1, 1, 1, 1, 1, 1, 1]
l_an = [[1], [1, 1], [1, 1, 1], [1, 1, 1, 1], [1, 1, 1, 1, 1], [1, 1, 1, 1, 1, 1], [1, 1, 1, 1, 1, 1, 1], [1, 1, 1, 1, 1, 1, 1, 1]]
i = 9 j = 8 : temp = [1, 1, 1, 1, 1, 1, 1, 1, 1]
l_an = [[1], [1, 1], [1, 1, 1], [1, 1, 1, 1], [1, 1, 1, 1, 1], [1, 1, 1, 1, 1, 1], [1, 1, 1, 1, 1, 1, 1], [1, 1, 1, 1, 1, 1, 1, 1], [1, 1, 1, 1, 1, 1, 1, 1, 1]]
i = 10 j = 9 : temp = [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
l_an = [[1], [1, 1], [1, 1, 1], [1, 1, 1, 1], [1, 1, 1, 1, 1], [1, 1, 1, 1, 1, 1], [1, 1, 1, 1, 1, 1, 1], [1, 1, 1, 1, 1, 1, 1, 1], [1, 1, 1, 1, 1, 1, 1, 1, 1], [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]]

Quiz 2
Create a list

In [9]:
loc = ['a','b','c','d','e','f','g','h','i','j']
l = []

In [11]:
loc[0]

'a'

In [18]:
for i in range(10):
  AA = []
  for j in range (i):
    AA.append(loc[0:j])
  la.append(AA)

In [19]:
AA

[[],
 ['a'],
 ['a', 'b'],
 ['a', 'b', 'c'],
 ['a', 'b', 'c', 'd'],
 ['a', 'b', 'c', 'd', 'e'],
 ['a', 'b', 'c', 'd', 'e', 'f'],
 ['a', 'b', 'c', 'd', 'e', 'f', 'g'],
 ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h']]